<article class="dossier-card {{post_class}}">
    <a href="{{url}}" class="dossier-card-link">
        <div class="dossier-card-image">
            {{#if feature_image}}
            <img
                src="{{img_url feature_image size="md"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                loading="lazy">
            {{else}}
            <div class="dossier-card-placeholder">
                {{#if primary_tag}}
                <span>{{primary_tag.name}}</span>
                {{else}}
                <span>Dossier</span>
                {{/if}}
            </div>
            {{/if}}
        </div>
        <div class="dossier-card-body">
            <h3 class="dossier-card-title">{{title}}</h3>
            {{#if excerpt}}
            <p class="dossier-card-excerpt">{{excerpt words="20"}}</p>
            {{/if}}
        </div>
    </a>
</article>
